PORT=3000
NODE_ENV=development

JWT_SECRET=cambiar_en_cada_entorno
JWT_EXPIRES=7h
JWT_REFRESH_SECRET=cambiar_en_cada_entorno
JWT_REFRESH_EXPIRES=7d

DB_HOST=host_postgres
DB_PORT=5432
DB_NAME=nombre_base
DB_USER=usuario_base
DB_PASSWORD=clave_base
DB_DIALECT=postgres
PGSSLMODE=require
PGCHANNELBINDING=require

CALIDAD_EVIDENCIAS_DIR=./storage/calidad/evidencias
CALIDAD_EVIDENCIAS_MAX_MB=10
